<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div class="image">
        <img
          src="https://salestack.in/admin/api/uploads/Product//1660628686Qz8l94Ic.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h5>Update Contact</h5>
        <div class="row">
          <form>
            <div class="form-group mb-1">
              <label for="exampleInputName">First Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Firstname"
                [(ngModel)]="contactdata.firstname"
                name="firstname"
              />
            </div>
            <div class="form-group mb-1">
              <label for="exampleInputName">Last Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Lastname"
                [(ngModel)]="contactdata.lastname"
                name="lastname"
              />
            </div>
            <div class="form-group mb-1">
              <label for="exampleInputName">Phone Number</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Phonenumber"
                [(ngModel)]="contactdata.phonenumber"
                name="phonenumber"
              />
            </div>
            <div class="form-group mb-1">
              <label for="exampleInputName">City</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter City Name"
                [(ngModel)]="contactdata.city"
                name="city"
              />
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-primary" (click)="update()">
                Update</button
              >&nbsp;
              <button
                type="submit"
                class="btn btn-success"
                routerLink="/contactlist"
              >
                Back
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
